body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(res/background.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.container {
	width: 300px;
	padding: 40px;
	padding-top: 20px;
	background-color: white;
	border-radius: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
	text-align: left;
	margin-bottom: 30px;
}

label {
	display: block;
	margin-top: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	width: 95%;
	height: 30px;
	padding-left: 10px;
	font-size: large;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

button {
	width: 100%;
	padding: 10px;
	background-color: rgb(219, 178, 103);
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 20px;
	border-radius: 3px;
}

button:hover {
	background-color: rgb(200, 160, 90);
}

select[name="city"] {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	line-height: 0.8em;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
}

.form-section {
	display: none;
}

#login-section:target,
#register-section:target {
	display: block;
}